<% include _partials/header %>
<% include _partials/navigation %>
  <div class="container-fluid">
    <header>
      <h1 class="page-title">login</h1>
    </header>
    <form id="create" name="create" action="/login" method="post">
      <input type="text" name="username" placeholder="username" required></input></br>
      <input type="submit" class="submit-button" value="submit"></input></br>
    </form>
  </div>
<% include _partials/footer %>
