<nav>
  <ul class="nav navbar-nav" id="nav-links">
    <li><a href="/login">login</a></li>
    <li><a href="/logout">logout</a></li>
    <li><a href="/secure/home">home</a></li>
    <li><a href="/secure/products">products</a>
      <ul>
        <li><a href="/secure/products/123">product 123</a></li>
        <li><a href="/secure/products/456">product 456</a></li>
        <li><a href="/secure/products/789">product 789</a></li>
      </ul>
    </li>
    <li><a href="/secure/services">services</a></li>
    <li><a href="/secure/advice">advice</a></li>
    <li>Queries
      <ul>
        <li><a href="/query/recent">recent</a></li>
        <li><a href="/query/page">by page</a></li>
        <li><a href="/query/user">by username</a></li>
        <li><a href="/query/time">by time</a></li>
        <li><a href="/query/all">all</a></li>
      </ul>
    </li>
  </ul>
</nav>
